<section id="backers">
  <section class="eleven columns">
    <%= form_for(@backer) do |f| %>
      <%= f.hidden_field :project_id, :value => params[:project_id] %>
      <%= f.hidden_field :user_id, :value => params[:user_id] %>
      <%= f.hidden_field :reward_id, :value => params[:reward_id] %>
      <%= f.hidden_field :value, :value => params[:reward_value] %>
      <%= f.hidden_field :confirmed, :value => false %>
      <% if @backer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@backer.errors.count, "error") %> prohibited this backer from being saved:</h2>

          <ul>
          <% @backer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field row">
        <%= f.text_field :value, :value => params[:reward_value], :class => 'text' %>
      </div>
      <div class="actions">
        <%= f.submit "Confirmar", :class => 'btn primary' %>
      </div>
    <% end %>
    <%= link_to 'Back', backers_path %>
    <div class="projects-rewards">
      <header>
        <h4>Selecione sua recompensa:</h4>
      </header>
      <article>
        <div class="no-reward reward">
          <header>
            <strong data-attr="1">
              Não quero recompensas!
            </strong>
          </header>
        </div>
        <% @rewards.each do |reward| %>
          <div id="<%= reward.id %>" class="reward reward_<%= reward.id %>">
              <header>
                <strong data-attr="<%= reward.minimum_value %>">
                  Apoiar com <%= number_to_currency(reward.minimum_value, :unit => "R$")%> ou mais:
                </strong>
              </header>
              <article>
                <%= reward.description %>
              </article>
            </div>
        <% end %>
      </article>
    </div>
  </section>
  <section class="aside-backers four columns">
    <div class="box">
      <header>
        <strong class="text-marked">Importante!</strong>
      </header>
      <article></article>
    </div>
    <div>
      <header>
        <h5>Questões Frequentes</h5>
      </header>
    </div>
  </section>
</section>
<script>
  div_hover = $('.projects-rewards div')
  div_hover.hover(function(){
    $(this).addClass('box');
  },
  function(){
    $(this).removeClass('box');
  });
  div_hover.click(function(){
    $(this).toggleClass('box-doido')
    var id = $(this).attr('id');
    $('#reward_id').val(id)
    var valor = $(this).find('strong').attr('data-attr');
    $('#reward_value').val(valor)
  });
</script>