<section class="seven columns">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field row">
      <%= f.label :name %><br />
      <%= f.text_field :name, :class => 'text' %>
    </div>
    <div class="field row">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, :class => 'text' %>
    </div>
    <div class="field row">
      <%= f.label 'Localização' %>
      <%= f.text_field :location, :class => 'text'%>
    </div>
    <div class="field row">
      <%= f.label :email %><br />
      <%= f.text_field :email, :class => 'text' %>
    </div>
    <div class="actions">
      <p class="btn primary">
        <%= submit_form "Salvar Modificações","#new_project" %>
      </p>
    </div>
  <% end %>
</section>