<div class="field row box-inset">
  <p class="btn small oval">
    <%= link_to "Editar Perfil", edit_user_path %>
  </p>
</div>
<div>
  <%= image_tag avatar_url(@user) %>
</div>
<div>
  <h4><%= @user.name %></h4>
</div>
<div>
  <strong>e-mail: </strong><%= @user.email %>
</div>
<div>
  <h4>Badges</h4>
  <article class="badges">
    <% @user.badges.each do |badge| %>
      <%= badge.name %>
    <% end %>
  </article>
</div>
<div>
  <h4>Pontos</h4>
  <article class="points">
    <%= @user.points.last.value %>
  </article>
</div>
<%= render 'projects/project' %>