<%= form_for(@project, :multipart => true) do |f| %>
  <section class="ten columns">
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field row">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "text" %>
    </div>
    <div class="field row">
      <%= f.label :category %>
      <%= f.text_field :category, :class => "text" %>
    </div>
    <div class="field row">
      <%= f.label :headline %>
      <%= f.text_field :headline, :class => "text" %>
    </div>
    <div class="field row">
      <%= f.label :decription %>
      <%= f.text_area :decription, :class => "textarea" %>
    </div>
    <div class="field row">
      <%= f.label :image_url %>
      <%= f.file_field :image_url %>
    </div>
    <div class="field row">
      <%= f.label :soundcloud_url %>
      <%= f.text_field :soundcloud_url, :class => "text" %>
    </div>
    <div class="field row">
      <%= f.label "Dias para concluir o projeto" %>
      <%= f.text_field :online_day, :class => "text" %>
    </div>
    <div class="field row">
      <%= f.label :price %>
      <%= f.text_field :price, :class => "text" %>
    </div>
    <%= f.hidden_field :approved, :value => 0 %>
    <div class="actions">
      <p class="btn primary">
        <%= submit_form "Criar Projeto","#new_project" %>
      </p>
      <p class="btn secondary">
        <%= link_to 'Cancelar', projects_path %>
      </p>
    </div>

  </section>
  <section class="box five columns">
    <ul><strong>Guidelines</strong>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, eligendi, architecto, dolor iste quos cum cupiditate omnis sed autem atque quis sunt.</li>
      <li>Esse, dolorem, maxime, ad magnam illum nemo qui animi officia nisi consectetur similique dolore facilis ratione reiciendis eos molestias enim maiores quos unde provident velit error ipsam obcaecati sed natus.</li>
      <li>Exercitationem, quae, eveniet quo aliquid natus in ea soluta totam dignissimos molestiae dicta pariatur nam reiciendis ex fugiat eos voluptatem eius debitis!</li>
    </ul>
    <div class="rewards">
      <%= link_to_add_fields "Adicionar Recompensa", f, :rewards %>
      <%= f.fields_for :rewards do |builder| %>
        <%= render 'reward_fields', f: builder %>
      <% end %>
    </div>
</section>
<% end %>