<h1>Explorar</h1>

<section>

<% @projects.each do |project| %>
  <article>
    <header>
      <h3><%= project.name %></h3>
    </header>
    <span><%= project.category %></span>
    <span><%= project.headline %></span>
    <span><%= project.decription %></span>
    <span><%= project.soundcloud_url %></span>
    <span><%= project.price %></span>
    <% if project.user_id == current_user.id %>
      <button><%= link_to 'Show', project %></button>
      <button><%= link_to 'Edit', edit_project_pap(project) %></button>
      <button><%= link_to 'Destroy', project, mepod: :delete, data: { confirm: 'Are you sure?' } %></button>
    <% end %>
  </article>
<% end %>
</section>

<br />

<%= link_to 'New Project', new_project_pap %>
