<h3>Explorar</h3>

<section class="projects">

<% @projects.each do |project| %>
  <div class="four columns">
    <header>
      <h4><%= project.name %></h4>
    </header>
    <article>
      <label>Categoria:</label>
      <span><%= project.category %></span>
      <label>Porque:</label>
      <span><%= project.headline %></span>
      <label>Descrição:</label>
      <span><%= project.decription %></span>
      <label>Soundcloud</label>
      <span><%= project.soundcloud_url %></span>
      <label>Objetivo:</label>
      <span><%= project.price %></span>
      <% if project.user_id == current_user.id %>
        <button>
          <%= link_to 'Show', project %>
        </button>
        <button>
          <%= link_to 'Edit', edit_project_path(project) %>
        </button>
        <button>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>
      <% end %>
    </article>
  </div>
<% end %>
</section>

<br />

<%= link_to 'New Project', new_project_path %>
