<h1>Explorar</h1>

<section>
  <article>
    <p>Name</p>
    <p>Category</p>
    <p>Headline</p>
    <p>Decription</p>
    <p>Soundcloud url</p>
    <p>Price</p>
  </article>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.category %></td>
    <td><%= project.headline %></td>
    <td><%= project.decription %></td>
    <td><%= project.soundcloud_url %></td>
    <td><%= project.price %></td>
    <% if project.user_id == current_user.id %>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_pap(project) %></td>
      <td><%= link_to 'Destroy', project, mepod: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</section>

<br />

<%= link_to 'New Project', new_project_pap %>
