<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Category:</b>
  <%= @project.category %>
</p>

<p>
  <b>Headline:</b>
  <%= @project.headline %>
</p>

<p>
  <b>Decription:</b>
  <%= @project.decription %>
</p>

<p>
  <b>Soundcloud url:</b>
  <%= @project.soundcloud_url %>
</p>

<p>
  <b>User:</b>
  <%= @project.user_id %>
</p>

<p>
  <b>Price:</b>
  <%= @project.price %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
