<p id="notice"><%= notice %></p>
<section class="row box">
  <section class="eleven columns">
    <header>
      <div>
        <%= image_tag(@project.image_url) if @project.image_url %>
      </div>
      <h4><%= @project.name %></h4>
    </header>

    <p>
      <b>Category:</b>
      <%= @project.category %>
    </p>

    <p>
      <b>Headline:</b>
      <%= @project.headline %>
    </p>

    <p>
      <b>Decription:</b>
      <%= @project.decription %>
    </p>

    <p>
      <b>Soundcloud url:</b>
      <%= @project.soundcloud_url %>
    </p>

    <p>
      <b>User:</b>
      <%= @project.owner %>
    </p>

    <p>
      <b>Price:</b>
      <%= @project.price %>
    </p>
  </section>
  <aside class="five columns box-inset">
    <div>
      <span class="icons heart"></span>
    </div>
    <div class="actions">
      <%= form_tag :controller => "backers", :action => "new" do %>
          <%= hidden_field_tag :project_id, @project.id %>
          <%= hidden_field_tag :user_id, current_user.id %>
          <%= hidden_field_tag :reward_id %>
          <p class="btn primary">
            <%= link_to_submit content_tag(:span, "Apoiar o projeto"), :class => "vai" %>
          </p>
        <% end %>
    </div>
    <section class="projects-rewards">
      <% @rewards.each do |reward| %>
        <div id="<%= reward.id %>" class="reward_<%= reward.id %>">
          <header>
            <strong>
              Apoiar com <%= number_to_currency(reward.minimum_value)%> ou mais:
            </strong>
          </header>
          <article>
            <%= reward.description %>
          </article>
        </div>
      <% end %>
    </section>
  </aside>
</section>
<script>
  div_hover = $('.projects-rewards div')
  div_hover.hover(function(){
    $(this).addClass('box');
  },
  function(){
    $(this).removeClass('box');
  });
  div_hover.click(function(){
    $(this).addClass('box-doido');
    var id = $(this).attr('id');
    $('#reward_id').val(id)
    alert($('#reward_id').val())
  });
</script>