<p id="notice"><%= notice %></p>
<div class="active">
  <span>apoiadores <strong><a href=""><%= @project.total_backers %></a></strong></span>
</div>
<section class="row box">
  <section class="eleven columns">
    <header>
      <!--<div>
        <span class="icons heart"></span>
      </div>-->
      <div>
        <%= image_tag(@project.image_url) if @project.image_url %>
      </div>
      <h4><%= @project.name %></h4>
    </header>

    <p>
      <b>Category:</b>
      <%= @project.category %>
    </p>

    <p>
      <%= @project.headline %>
    </p>

    <p>
      <b>Decription:</b>
      <%= @project.decription %>
    </p>

  </section>
  <aside class="five columns box-inset">
    <div class="backers">
      <header>
        <h4><%= @project.total_backers %></h4>
      </header>
      <article>
        <span>apoiadores</span>
      </article>
    </div>
    <div class="total_pleged">
      <header>
        <h4><%= number_to_currency(@project.total_pleged, :unit => "R$")%></h4>
      </header>
      <article>de <%= number_to_currency(@project.price, :unit => "R$")%> pedidos</article>
    </div>
    <div class="actions">
      <%= form_tag :controller => "backers", :action => "new" do %>
          <% if user_signed_in? %>
            <%= hidden_field_tag :project_id, @project.id %>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= hidden_field_tag :reward_id %>
            <%= hidden_field_tag :reward_value %>
          <% end %>
          <p class="btn primary">
            <%= link_to_submit content_tag(:span, "Apoiar o projeto"), :class => "vai" %>
          </p>
        <% end %>
    </div>
    <div>
      <header>
        <h4>Soundcloud</h4>
      </header>

    </div>
    <div class="user_profile">
      <header>
        <div class="user_avatar">
          <%= image_tag avatar_url(@user) %>
        </div>
        <div class="user_infos">
          <small>projeto por</small>
          <span><%= @user.name %></span>
          <span><%= @user.location %></span>
        </div>
      </header>
      <article>

      </article>
    </div>
    <section class="projects-rewards">
      <header>
        <h4>Recompensas</h4>
      </header>
      <article>
        <div class="no-reward reward">
          <header>
            <strong data-attr="1">
              Não quero recompensas!
            </strong>
          </header>
        </div>
        <% @rewards.each do |reward| %>
          <div id="<%= reward.id %>" class="reward reward_<%= reward.id %>">
            <header>
              <strong data-attr="<%= reward.minimum_value %>">
                Apoiar com <%= number_to_currency(reward.minimum_value, :unit => "R$")%> ou mais:
              </strong>
            </header>
            <article>
              <%= reward.description %>
            </article>
          </div>
        <% end %>
      </article>
    </section>
  </aside>
</section>
<script>
  div_hover = $('.projects-rewards div')
  div_hover.hover(function(){
    $(this).addClass('box');
  },
  function(){
    $(this).removeClass('box');
  });
  div_hover.click(function(){
    $(this).toggleClass('box-doido')
    var id = $(this).attr('id');
    $('#reward_id').val(id)
    var valor = $(this).find('strong').attr('data-attr');
    $('#reward_value').val(valor)
  });
</script>